In [3]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.master('local[*]').appName('ml').getOrCreate()
spark

In [10]:
import numpy as np
import pandas as pd 
import matplotlib as mpl
import seaborn as sns 
import matplotlib.pyplot as plt

print(np.__version__)

1.23.4

## 데이터 불러오기

In [11]:
flights = spark.read.csv('data/flights.csv', 
                         sep=',', 
                         header=True, 
                         inferSchema=True, 
                         nullValue = 'NA')

flights.show(5)

+---+---+---+-------+------+---+----+------+--------+-----+
|mon|dom|dow|carrier|flight|org|mile|depart|duration|delay|
+---+---+---+-------+------+---+----+------+--------+-----+
| 11| 20|  6|     US|    19|JFK|2153|  9.48|     351| null|
|  0| 22|  2|     UA|  1107|ORD| 316| 16.33|      82|   30|
|  2| 20|  4|     UA|   226|SFO| 337|  6.17|      82|   -8|
|  9| 13|  1|     AA|   419|ORD|1236| 10.33|     195|   -5|
|  4|  2|  5|     AA|   325|ORD| 258|  8.92|      65| null|
+---+---+---+-------+------+---+----+------+--------+-----+
only showing top 5 rows

## 머신러닝 주제
- 지연시간 예측
    - 종속변수 : delay
- 데이터의  행/열의 갯수

In [12]:
flights.count()

50000

In [13]:
len(flights.columns)

10

In [14]:
flights.dtypes

[('mon', 'int'),
 ('dom', 'int'),
 ('dow', 'int'),
 ('carrier', 'string'),
 ('flight', 'int'),
 ('org', 'string'),
 ('mile', 'int'),
 ('depart', 'double'),
 ('duration', 'int'),
 ('delay', 'int')]

## 데이터 전처리 & 피쳐엔지니어링

- flight 컬럼 삭제

In [15]:
flights2 = flights.drop('flight')
len(flights2.columns)

9

In [16]:
flights2.filter('delay IS NULL').count()

2978

- NA 결측치 삭제

In [17]:
flights3 = flights2.filter('delay IS NOT NULL')
flights3.count()

47022

In [18]:
flights4 = flights3.dropna()
flights4.count()

47022

- NA 채우기

In [19]:
flights5 = flights2.fillna({'delay' : 0 })
flights5.show(5)

+---+---+---+-------+---+----+------+--------+-----+
|mon|dom|dow|carrier|org|mile|depart|duration|delay|
+---+---+---+-------+---+----+------+--------+-----+
| 11| 20|  6|     US|JFK|2153|  9.48|     351|    0|
|  0| 22|  2|     UA|ORD| 316| 16.33|      82|   30|
|  2| 20|  4|     UA|SFO| 337|  6.17|      82|   -8|
|  9| 13|  1|     AA|ORD|1236| 10.33|     195|   -5|
|  4|  2|  5|     AA|ORD| 258|  8.92|      65|    0|
+---+---+---+-------+---+----+------+--------+-----+
only showing top 5 rows

In [20]:
flights5.count()

50000

## 파생변수
- withColumn() 활용해서 새로운 변수를 추가할 것

    - 참조 : https://spark.apache.org/docs/3.1.3/api/python/reference/api/pyspark.sql.DataFrame.withColumn.html

In [21]:
from pyspark.sql.functions import round
flights5 = flights5.withColumn('km', round(flights5.mile * 1.60934, 0)).drop()

In [22]:
# delay 15 이상
flights5 = flights5.withColumn('label', (flights5.delay >= 15).cast('integer'))
flights5.show(5)

+---+---+---+-------+---+----+------+--------+-----+------+-----+
|mon|dom|dow|carrier|org|mile|depart|duration|delay|    km|label|
+---+---+---+-------+---+----+------+--------+-----+------+-----+
| 11| 20|  6|     US|JFK|2153|  9.48|     351|    0|3465.0|    0|
|  0| 22|  2|     UA|ORD| 316| 16.33|      82|   30| 509.0|    1|
|  2| 20|  4|     UA|SFO| 337|  6.17|      82|   -8| 542.0|    0|
|  9| 13|  1|     AA|ORD|1236| 10.33|     195|   -5|1989.0|    0|
|  4|  2|  5|     AA|ORD| 258|  8.92|      65|    0| 415.0|    0|
+---+---+---+-------+---+----+------+--------+-----+------+-----+
only showing top 5 rows

- 라벨인코딩 = 원핫인코딩
     + 참조 : https://spark.apache.org/docs/3.1.3/api/python/reference/api/pyspark.ml.feature.StringIndexer.html?highlight=stringindexer#pyspark.ml.feature.StringIndexer

In [23]:
from pyspark.ml.feature import StringIndexer

indexer = StringIndexer(inputCol = 'carrier', outputCol = 'carrier_index')
indexer_model = indexer.fit(flights5)
flights6 = indexer_model.transform(flights5)
flights6.show(5)

+---+---+---+-------+---+----+------+--------+-----+------+-----+-------------+
|mon|dom|dow|carrier|org|mile|depart|duration|delay|    km|label|carrier_index|
+---+---+---+-------+---+----+------+--------+-----+------+-----+-------------+
| 11| 20|  6|     US|JFK|2153|  9.48|     351|    0|3465.0|    0|          6.0|
|  0| 22|  2|     UA|ORD| 316| 16.33|      82|   30| 509.0|    1|          0.0|
|  2| 20|  4|     UA|SFO| 337|  6.17|      82|   -8| 542.0|    0|          0.0|
|  9| 13|  1|     AA|ORD|1236| 10.33|     195|   -5|1989.0|    0|          1.0|
|  4|  2|  5|     AA|ORD| 258|  8.92|      65|    0| 415.0|    0|          1.0|
+---+---+---+-------+---+----+------+--------+-----+------+-----+-------------+
only showing top 5 rows

In [24]:
indexer = StringIndexer(inputCol = 'org', outputCol = 'org_index')
indexer_model = indexer.fit(flights6)
flights7 = indexer_model.transform(flights6)
flights7.show(5)

+---+---+---+-------+---+----+------+--------+-----+------+-----+-------------+---------+
|mon|dom|dow|carrier|org|mile|depart|duration|delay|    km|label|carrier_index|org_index|
+---+---+---+-------+---+----+------+--------+-----+------+-----+-------------+---------+
| 11| 20|  6|     US|JFK|2153|  9.48|     351|    0|3465.0|    0|          6.0|      2.0|
|  0| 22|  2|     UA|ORD| 316| 16.33|      82|   30| 509.0|    1|          0.0|      0.0|
|  2| 20|  4|     UA|SFO| 337|  6.17|      82|   -8| 542.0|    0|          0.0|      1.0|
|  9| 13|  1|     AA|ORD|1236| 10.33|     195|   -5|1989.0|    0|          1.0|      0.0|
|  4|  2|  5|     AA|ORD| 258|  8.92|      65|    0| 415.0|    0|          1.0|      0.0|
+---+---+---+-------+---+----+------+--------+-----+------+-----+-------------+---------+
only showing top 5 rows

In [25]:
indexer = StringIndexer(inputCol = 'org', outputCol = 'org_index')
indexer_model = indexer.fit(flights6)
flights7 = indexer_model.transform(flights6)
flights7.select('org', 'org_index').show(5)

+---+---------+
|org|org_index|
+---+---------+
|JFK|      2.0|
|ORD|      0.0|
|SFO|      1.0|
|ORD|      0.0|
|ORD|      0.0|
+---+---------+
only showing top 5 rows

- 원핫인코딩

In [26]:
from pyspark.ml.feature import OneHotEncoder

onehot = OneHotEncoder(inputCols=['org_index'], outputCols = ['org_dummy'])
onehot = onehot.fit(flights7)
flights8 = onehot.transform(flights7)
flights8.show(5)

+---+---+---+-------+---+----+------+--------+-----+------+-----+-------------+---------+-------------+
|mon|dom|dow|carrier|org|mile|depart|duration|delay|    km|label|carrier_index|org_index|    org_dummy|
+---+---+---+-------+---+----+------+--------+-----+------+-----+-------------+---------+-------------+
| 11| 20|  6|     US|JFK|2153|  9.48|     351|    0|3465.0|    0|          6.0|      2.0|(7,[2],[1.0])|
|  0| 22|  2|     UA|ORD| 316| 16.33|      82|   30| 509.0|    1|          0.0|      0.0|(7,[0],[1.0])|
|  2| 20|  4|     UA|SFO| 337|  6.17|      82|   -8| 542.0|    0|          0.0|      1.0|(7,[1],[1.0])|
|  9| 13|  1|     AA|ORD|1236| 10.33|     195|   -5|1989.0|    0|          1.0|      0.0|(7,[0],[1.0])|
|  4|  2|  5|     AA|ORD| 258|  8.92|      65|    0| 415.0|    0|          1.0|      0.0|(7,[0],[1.0])|
+---+---+---+-------+---+----+------+--------+-----+------+-----+-------------+---------+-------------+
only showing top 5 rows

In [27]:
flights8.select('org', 'org_index', 'org_dummy').distinct().sort('org_index').show()

+---+---------+-------------+
|org|org_index|    org_dummy|
+---+---------+-------------+
|ORD|      0.0|(7,[0],[1.0])|
|SFO|      1.0|(7,[1],[1.0])|
|JFK|      2.0|(7,[2],[1.0])|
|LGA|      3.0|(7,[3],[1.0])|
|SJC|      4.0|(7,[4],[1.0])|
|SMF|      5.0|(7,[5],[1.0])|
|TUS|      6.0|(7,[6],[1.0])|
|OGG|      7.0|    (7,[],[])|
+---+---------+-------------+

## 벡터화
- DataFrame에서 바로 ML 인풋 데이터로 들어가는게 아님

In [28]:
from pyspark.ml.feature import VectorAssembler 

assembler = VectorAssembler(inputCols = [
    'mon', 'dom', 'dow', 'carrier_index', 'org_index', 'km', 'depart', 'duration'
], outputCol='features')

flights9 = assembler.transform(flights8)

In [29]:
flights9.select('features', 'delay').show(5, truncate=False)

+-----------------------------------------+-----+
|features                                 |delay|
+-----------------------------------------+-----+
|[11.0,20.0,6.0,6.0,2.0,3465.0,9.48,351.0]|0    |
|[0.0,22.0,2.0,0.0,0.0,509.0,16.33,82.0]  |30   |
|[2.0,20.0,4.0,0.0,1.0,542.0,6.17,82.0]   |-8   |
|[9.0,13.0,1.0,1.0,0.0,1989.0,10.33,195.0]|-5   |
|[4.0,2.0,5.0,1.0,0.0,415.0,8.92,65.0]    |0    |
+-----------------------------------------+-----+
only showing top 5 rows

## 데이터셋 분리

In [30]:
flights_train, flights_test = flights9.randomSplit([0.8, 0.2], seed=42)

training_ratio = flights_train.count() / flights.count()
print(training_ratio)

0.79896

## 모형 만들기

In [31]:
from pyspark.ml.regression import LinearRegression
lr_model = LinearRegression(labelCol = 'delay').fit(flights_train)

predictions = lr_model.transform(flights_test)
predictions.select('delay', 'prediction').show()

22/11/09 17:15:56 WARN Instrumentation: [e8204894] regParam is zero, which might cause numerical instability and overfitting.
22/11/09 17:15:56 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
22/11/09 17:15:56 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS
22/11/09 17:15:57 WARN InstanceBuilder$NativeLAPACK: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK

+-----+-------------------+
|delay|         prediction|
+-----+-------------------+
|  -10|  46.44172758075316|
|   31|  43.08452860448893|
|   27| 26.645250841637072|
|    0| 30.119520678129255|
|    0|   32.3656110413515|
|   52|  37.92820472413967|
|   49| 40.784914918196485|
|    0|  41.32610178968795|
|    3| 24.486999739505862|
|   75| 15.438377151597322|
|   -2|-3.0701133483485066|
|   43| 14.482980426030544|
|   13| 17.433399086903275|
|   52|  44.74621504450882|
|  -16| 30.293989187510093|
|  105| 41.091833410842945|
|    0|  40.04794188385882|
|   15| 42.262008799901245|
|   68| 35.611259712749096|
|   22|  48.56648168729614|
+-----+-------------------+
only showing top 20 rows

In [33]:
# RMSE 
from pyspark.ml.evaluation import RegressionEvaluator 
RegressionEvaluator(labelCol = 'delay').evaluate(predictions)

52.077460751193215

In [34]:
lr_model.intercept

5.820634238570484

In [35]:
lr_model.coefficients

DenseVector([-0.962, -0.0401, -0.1964, -1.0083, -2.2957, -0.0091, 1.7483, 0.1401])

시각화
- pandas로 변환 / seaborn & matplotlib