In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
DATA_PATH = '/content/drive/MyDrive/Colab Notebooks/산대특/deeplearning/ch10/data/'
class2 = pd.read_csv(DATA_PATH + "class2.csv")
class2

   Unnamed: 0      id tissue class class2      x      y      r
0           0  CID000      C  CIRC      N  535.0  475.0  192.0
1           1  CID001      A  CIRA      N  433.0  268.0   58.0
2           2  CID002      A  CIRA      I    NaN    NaN    NaN
3           3  CID003      C  CIRC      B    NaN    NaN    NaN
4           4  CID004      F  CIRF      I  488.0  145.0   29.0
5           5  CID005      C  CIRC      B  532.0  199.0   21.0

In [4]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
onehot_encoder = preprocessing.OneHotEncoder()

# 


# train_x = onehot_encoder.fit_transform(class2['class'])
train_x = label_encoder.fit_transform(class2['class'])
train_x

array([1, 0, 0, 1, 2, 1])

In [3]:
train_x = pd.get_dummies(class2)
train_x

,Unnamed: 0,x,y,r,id_CID000,id_CID001,id_CID002,id_CID003,id_CID004,id_CID005,tissue_A,tissue_C,tissue_F,class_CIRA,class_CIRC,class_CIRF,class2_B,class2_I,class2_N
0,0,535.0,475.0,192.0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1
1,1,433.0,268.0,58.0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1
2,2,NaN,NaN,NaN,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0
3,3,NaN,NaN,NaN,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0
4,4,488.0,145.0,29.0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0
5,5,532.0,199.0,21.0,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0

- 자연어 처리를 할 때는 원-핫 인코딩 사용 X
- 직교를 이룬다. --> 서로 독립적인 관계가 된다.
- 대안을 찾자 : 워드투벡터, 글로브, 패스트텍스 등을 사용한다.

##

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
    'This is last chance.',
    'and if you do not have this chance.',
    'you will never get any chance.',
    'will you do get this one?',
    'please, get this chance',
]
vect = CountVectorizer()
vect.fit(corpus)
vect.vocabulary_

{'this': 13,
 'is': 7,
 'last': 8,
 'chance': 2,
 'and': 0,
 'if': 6,
 'you': 15,
 'do': 3,
 'not': 10,
 'have': 5,
 'will': 14,
 'never': 9,
 'get': 4,
 'any': 1,
 'one': 11,
 'please': 12}

In [6]:
vect.transform(['you will never get any chance.']).toarray()

array([[0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1]])

In [7]:
vect = CountVectorizer(stop_words=["and", "is", "please", "this"]).fit(corpus)
vect.vocabulary_

{'last': 6,
 'chance': 1,
 'if': 5,
 'you': 11,
 'do': 2,
 'not': 8,
 'have': 4,
 'will': 10,
 'never': 7,
 'get': 3,
 'any': 0,
 'one': 9}

- TF-IDF 교제 (p400)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
doc = ['I like machine learning', 'I love deep learning', 'I run everyday']
tfidf_vectorizer = TfidfVectorizer(min_df=1)
tfidf_matrix = tfidf_vectorizer.fit_transform(doc)
doc_distance = (tfidf_matrix * tfidf_matrix.T)
print ('유사도를 위한', str(doc_distance.get_shape()[0]), 'x', str(doc_distance.get_shape()[1]), '행렬을 만들었습니다.')
print(doc_distance.toarray())

유사도를 위한 3 x 3 행렬을 만들었습니다.
[[1.       0.224325 0.      ]
 [0.224325 1.       0.      ]
 [0.       0.       1.      ]]

## 예측 기반 임베딩
- 워드 투 벡터
  + 신경망 알고리즘의 하나
- and | love this one
- one을 입력 --> 출력층 나머지 4개 단어 구성
- 각 단어 간의 코사인 유사도를 통해 해당 단어의 의미를 수치화 한다..

In [10]:
%cd /content/drive/MyDrive/Colab Notebooks/산대특/deeplearning/ch10/data

/content/drive/MyDrive/Colab Notebooks/산대특/deeplearning/ch10/data

In [11]:
!ls

 class2.csv   'IMDB Dataset'	  'IMDB Dataset.zip'   spam.csv   test.csv
 example.txt  'IMDB Dataset.csv'   peter.txt	       spa.txt	  train.csv

In [14]:
from nltk.tokenize import sent_tokenize, word_tokenize
import warnings
warnings. filterwarnings(action='ignore')

In [19]:
import gensim
from gensim.models import Word2Vec

sample = open("peter.txt", "r", encoding="utf8")
s = sample.read()
f = s.replace("\n"," ")
data = []

In [ ]:
for i in sent_tokenize(f):
  temp = []
  for j in word_tokenize(i):
    temp.append(j.lower())
    data.append(temp)

In [ ]:

model1 = gensim.models.Word2Vec(data,
                                min_count = 1,
                                size=100, window=5, sg = 0)


print("Cosine similarity between 'peter' " +
                 "'hook' - CBOW : ", 
      model1.similarity('peter', 'hook'))

## 패스트텍스트
- 워드 투 벡터 단점 : 사전에 모르는 단어는 학습이 어려움
- 워드 투 벡터의 단점을 보완함.
- 소파 위에 있는 고양이가 낮잠을 잔다.
  + 워드 투 벡터 --> 문장 1개만 사용
  + N- 그램 --> 세트를 3개정도

In [24]:
from gensim.test.utils import common_texts 
from gensim.models import FastText 

corpus_fname = 'peter.txt'
corpus = [sent.strip().split(" ") for sent in open(corpus_fname, 'r', encoding='utf-8').readlines()]
model = FastText(corpus, size=4, window=3, min_count = 1, iter = 10)

sim_score = model.wv.similarity('peter', 'wendy')
print(sim_score)

WARNING:gensim.models.base_any2vec:under 10 jobs per worker: consider setting a smaller `batch_words' for smoother alpha decay

-0.5548141

In [25]:
sim_score = model.wv.similarity('peter', 'hook')
print(sim_score)

-0.1171107

## 한글 모델 사용
- 사전 훈련된 모델을 호출하자.

In [30]:
from __future__ import print_function
from gensim.models import KeyedVectors

model_kr + KeyedVectors.load_word2vec_format('IMDB Dataset.zip')
print(model_kr)

NameError: ignored

In [ ]:
find_similar_to = '노력'

for similar_word in model_kr.similar_by_word(find_similar_to):
    print("Word: {0}, Similarity: {1:.2f}".format(
        similar_word[0], similar_word[1]
    ))

In [ ]:
similarities = model_kr.wv.most_similar(positive=['동물', '육식동물'], negative=['사람'])
print(similarities)

## 횟수 ?예측 기반 임베딩
- 횟수 기반 임베딩의 단점
- 예측 기반 임베딩의 단점
- Glove : 위 두개의 알고리즘 단점을 보완.

In [33]:
!ls

 class2.csv   'IMDB Dataset'	  'IMDB Dataset.zip'   spam.csv   test.csv
 example.txt  'IMDB Dataset.csv'   peter.txt	       spa.txt	  train.csv

In [34]:
import numpy as np
%matplotlib notebook
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from sklearn.decomposition import PCA
from gensim.test.utils import datapath, get_tmpfile
from gensim.models import KeyedVectors
from gensim.scripts.glove2word2vec import glove2word2vec

In [ ]:
glove_file = 'glove.6B.100d.txt'
word2vec_glove_file = get_tmpfile('glove6B.100d.word2vex.txt')
glove2word2vec(glove_file, word2vec_glove_file)

In [ ]:
model = KeyedVectors.load_word2vec_format(word2vec_glove_file)
model.most_similar('bill')

## p.419 트랜스포머 어텐션
- 자연어 알고리즘의 가장 주용한 핵심!!
- 지금현재
  + 트랜스포머 알고리즘 시대!
- 단어 번역
  + 새로운 단어, 다른 모든 단어와 비교해서 번역!
  + 병렬구조로 처리 --> 속도도 향상 / 정확도도 향상
- 영향력
  + GPT-123 계열
  + Bert 계열

  422page: seq2seq 이거 먼저 읽고 트랜스포머 어텐션 보실 것.

  - 핵심 파라미터
  - d=model 입력과 출력의 크기 사전 지정: 차원 ;;;;;
  - num_layers : 층을 다층구조로 쌓는다.
  - num_heads : 여러개로 분할해서 병렬로 어텐션 수행
  - dff : 신경망의 크기

  - 트랜스포머 입력하는 방식 중 가장 대표적인 것이 
    + 포지셔널 인코딩
    + 기존 모델은 순차적으로 처리하는 것이 핵심
    + 트랜스포머, 각 단어의 위치 정보를 담고 있다...

- 파이썬 Dictionary Key-Value 값을 생각하자.